#input-bar {
    border: 3px solid #000;
    background-color: #DDB839;
    height: 70px;
    width: 740px;
    text-align: center;
    font-size: 35px;
    margin: 0 auto;
    margin-top: 150px;
    border-radius: 15px;
    font-family: monospace;
    line-height: 70px;
}

.letter-button, #space-button, #delete-button {
    width: 50px;
    height: 50px;
    font-size: 18px;
    margin: 5px;
    margin-top: 30px;
    border: 3px solid #000;
    background-color:#FDF4D7;
    border-radius: 30px;
    padding: 10px;
}

#button-container {
    text-align: center;
}
a{
text-decoration: none;
}
#start-button {
    border: 3px solid #000;
    background-color: rgb(221, 161, 48);
    padding: 17px 30px;
    font-size: 18px;
    cursor: pointer;
    display: block; 
    margin: 0 auto; 
    position: relative; 
    top: 50px;
    border-radius: 20px;
    text-decoration: none;
    color: initial;
}
#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    object-fit:fill; /* Escalar el video para llenar el contenedor */
    object-position: center top; /* Posición del video */
}
.icon {
    width: 24px; /* Anchura del icono */
    height: 24px; /* Altura del icono */
    margin-right: 5px; /* Espacio entre el icono y el texto */
}
/* Estilo para el mensaje de error */
#input-error {
    border: 3px solid #FF0000; /* Borde rojo */
    background-color: #FFC0CB; /* Fondo rosa claro */
    color: #FF0000; /* Texto rojo */
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px 30px;
    margin: 60px auto;
    width: 300px;
    display: none; /* Inicialmente oculto */
}

/* Resto de tus estilos ... */
