body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
  
  .video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  #background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto; /* Ajustar la altura según el ancho */
    z-index: -1; /* Para asegurarse de que el video esté en el fondo */
    object-fit:fill; /* Escalar el video para llenar el contenedor */
    object-position: center top; /* Posición del video */
  }
  
  .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #my-button {
    background-color: rgb(221, 161, 48);
    border: 4px solid black;
    padding: 30px 50px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 150px;
  }

/* Estilo CSS para el botón oculto */
.hidden {
  display: none;
}

/* Estilo CSS para la animación */
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

  
  